<html>
<head>
<title>Console</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/PortalKit/resources/js/dependencies/jquery-1.8.3.js"></script>
<script type="text/javascript">

    var queryMap = {};
    
    function loadJSON(url, data, success, failure){

	    var tempData = data || {};
	    jQuery.ajax({
	       "type" : "GET",
	       "url" : "/PortalKit" + url,
	       "contentType" : "application/json; charset=UTF-8",
	       "data" : tempData,
	       "dataType" : "html",
	       "success" : function(dataFromServer, textStatus, jqXHR) {
               if(success){
                  success(dataFromServer);
               }
           },
	       "error" : function(jqXHR, textStatus, errorThrown) {
	           var obj = undefined;
	           try
	           {
	               obj = JSON.parse(jqXHR.responseText);
	           }
	           catch(err)
	           {
	              obj = jqXHR.responseText;
	           }
	           if(failure){
	               failure(obj);
	           }
           }
	   });
    
    }

    function load(){
        var query = location.search.substring(1);
        // Get query string
        var pairs = query.split("&"); 
        // Break at ampersand
        for(var i = 0; i < pairs.length; i++) {
            var pos = pairs[i].indexOf('=');
            // Look for "name=value"
            // If not found, skip
            if (pos == -1){
                continue;
            }
            // Extract the name
            var argname = pairs[i].substring(0, pos);
            // Extract the value
            var value = pairs[i].substring(pos+1);
            // Decode it, if needed
            value = decodeURIComponent(value);
            // Store as a property
            queryMap[argname] = value;
        }
    
        var messageId = queryMap["messageId"];
        loadJSON("/powerbuild/getLog.ajax", {messageId: messageId}, function(errorMsg){
        	document.getElementById("message").innerHTML = errorMsg;
        });
        
    }
    

</script>
</head>
<body onload="load()" style="background-color: black;">
    <div id="message" style="color: white;"></div>
</body>
</html>