<script id="DirTreeTemplate" type="text/x-jsrender">
    <ul class="group">
        <label class="category">
		    <div class="lightpoint">
                {{if checked}}
			        <input type="checkbox" class="parentB" value="{{>name}}" checked="checked"/><label></label>
                {{else}}
                    <input type="checkbox" class="parentB" value="{{>name}}" /><label></label>
                {{/if}}
			</div>
			<span>{{>name}}</span>
		</label>
        {{for subDirs}}
		<li>
		    <div class="lightpoint">
                {{if checked}}
			        <input type="checkbox" class="childB" value="{{>name}}" checked="checked"><label></label>
                {{else}}
                    <input type="checkbox" class="childB" value="{{>name}}" ><label></label>
                {{/if}}
			</div>
			<span>{{>name}}</span>
			<div class="status">
				<img src="resources/images/loading.gif" />
			</div>
		</li>
        {{/for}}
	</ul>
</script>
<!-- ================================================================================ -->
<div class="content-box" id="build-content">

	<div class="bulid-feature-header">
            <li><a href="#/common">common</a></li>
            <li><a href="#/environment">environment</a></li>
            <div class="clear"></div>
    </div>

	<div class="bulid-feature-content" id="common">

		<div class="bulid-list">
		    <ul class="group" ng-repeat="dirTree in dirTrees">
                <label class="category">
                    <div class="lightpoint">
                        <input type="checkbox" class="parentB" value="{{dirTree.name}}" ng-checked="dirTree.checked"/><label></label>
                    </div>
                    <span>{{dirTree.name}}</span>
                </label>
                <li ng-repeat="subTree in dirTree.subDirs">
                    <div class="lightpoint">
                        <input type="checkbox" class="childB" ng-checked="subTree.checked" value="{{subTree.name}}" ><label></label>
                    </div>
                    <span>{{subTree.name}}</span>
                    <div class="status">
                        <img src="resources/images/loading.gif" />
                    </div>
                </li>
            </ul>
		</div>
		<div class="config-button-area">
			<li><input id="setDefault4Build" class="small-button config" disabled="disabled" type="button" value="Set Default" /></li>
			<li><input id="resetDefault4Build" class="small-button reset" disabled="disabled" type="button" value="Reset" /></li>
			<div class="clear"></div>
		</div>
		
		<div class="main-button-area">
	          <input id="buildButton" class="primary-button bulid" disabled="disabled" type="button" value="Bulid"/> 
	          <div class="check-deploy"><div class="lightpoint"><input id="needDeploy" disabled="disabled" type="checkbox"><label></label></div>Deploy</div>
	          <div class="clear"></div>
        </div>

		<div class="clear"></div>
	</div>
    
    
    <div class="bulid-feature-content" id="environment">
          <div class="bulid-list">
              <ul class="group"><label class="category">Environment Package</label>
                <li><div class="lightpoint"><input id="multiscreenPortal" value="multiscreenPortal" type="checkbox"><label></label></div>Mulitscreen Portal<div class="status"><img src="resources/images/loading.gif"/></div></li>
                <li><div class="lightpoint"><input id="referencePortal" value="referencePortal" type="checkbox"><label></label></div>Reference Portal<div class="status"><img src="resources/images/loading.gif"/></div></li>
              </ul>
          </div>
          <div class="bulid-message">
              Selected option will be deployed                           
          </div>
          <div class="main-button-area">
            <input id="build4Set" class="primary-button save" disabled="disabled" type="button" value="Bulid + Deploy"/> 
          </div>
          <div class="clear"></div>
    </div>
    

	<div class="clear"></div>
</div>