<div class="content-box" id="deploy-content">
                <span class="tdName">Sources Files</span>
                <div class="table-wrapper">                 
                    
                    
                    <div class="war-input">
                    <input class="input-deploy"type="text" placeholder="Type something…">
                    <input class="primary-button check" type="button" value="Check"/>
                    <div class="clear"></div>
                    </div>
                    
                    <div class="war-list-wrapper">

                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 01</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 02</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 03</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 04</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 05</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 06</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 07</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 08</li>
                        <li><div class="lightpoint"><input name="" type="checkbox"><label></label></div>list 09</li>
                        
                    </div>
                </div>
                <div class="main-button-area">
                    <input class="primary-button save" type="button" value="Deploy"/>
                </div>
              </div>   