<div class="content-box" id="deploy-content">
                <span class="tdName">Sources Folder</span>
                <div class="table-wrapper">                 
                    
                    
                    <div class="war-input">
                    <input id="downloadedPath" class="input-deploy"type="text" placeholder="Type something…">
                    <input id="checkDeployPathButton" class="primary-button check" type="button" value="Check"/>
                    <div class="clear"></div>
                    </div>
                    
                    <div class="war-list-wrapper">
                        <li><div class="lightpoint"><input value="referencePortal" type="checkbox"><label></label></div>Reference Portal</li>
                        <li><div class="lightpoint"><input value="multiscreenPortal" type="checkbox"><label></label></div>Multiscreen Portal</li>
                    </div>
                    <div class="deployList">
                        <li>Deploy list 01</li>
                        <li>Deploy list 02</li>
                        <li class="grayed">Deploy list 03</li>
                        <li>Deploy list 04</li>
                    </div>
                </div>
                <div class="main-button-area">
                    <input class="primary-button save" type="button" value="Deploy"/>
                </div>
</div>   