
<!-- ================================================================================ -->
<div class="content-box" id="setting-content">
                    <span class="tdName">Configuration</span>
                    <div class="table-wrapper">
                    <table  class="setting-table" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                          <tr>
                            <th>Key</th>
                            <th>Value</th>
                          </tr>
                        </thead>
                          <tr>
                            <td title="Path of portal-team repository">Design</td>
                            <td><input class="input-setting" id="portalTeamPath" type="text" placeholder="Type something…"></td>
                          </tr>
                          <tr>
                            <td title="Path of webapps under tomcat folder">Deploy</td>
                            <td><input class="input-setting" id="tomcatWebappsPath" type="text" placeholder="Type something…"></td>
                          </tr>
                    </table>
            </div>
                    
                    <div class="main-button-area">
                        <input id="saveSettings" class="primary-button save" disabled="disabled" type="button"  value="Save"/>
                    </div>


               
</div>