<div class="content-box" id="test-content">
                    <span class="tdName">User Story List</span>
                    
                    <div class="test-feature-content">
                        <div class="us-list">
                        
                            <ul class="group"><label class="category"><input name="" type="checkbox" value="" />User story 01</label>
                              <li><input name="" type="checkbox">list 01</li>
                              <li><input name="" type="checkbox">list 02</li>
                            </ul>
                            
                            <ul class="group"><label class="category"><input name="" type="checkbox" value="" />User story 02</label>
                              <li><input name="" type="checkbox">list 01</li>
                              <li><input name="" type="checkbox">list 02</li>
                            </ul>
                        
                        </div>
                        <div class="config-button-area">
                            <li><input id="setDefault4Test" class="small-button config" type="button" value="Set Default"/></li>
                            <li><input class="small-button reset" type="button" value="Reset"/></li>
                        <div class="clear"></div>    
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="main-button-area">
                        <input class="primary-button test" type="button" value="Test"/>
                    </div>
</div>