             <div class="content-box" id="test-content">
                    
                    <span class="tdName">Test Type</span>
                    <div class="war-input">
                        <select class="testType">
                            <option>Ipad</option>
                            <option>Iphone</option>
                            <option>Html</option>
                            <option>SVG</option>
                        </select>
                    </div>
                    <span class="tdName">User Story List</span>
                    <div class="test-feature-content">
                        <div class="us-list">
                        
                            <ul class="group"><label class="category"><div class="lightpoint"><input name="" type="checkbox" value="" /><label></label></div>Plug-in</label>
                                  <li>
                                      <div class="lightpoint"><input name="" type="checkbox"><label></label></div>
                                      list 01
                                      <div class="status s-success"><img src="resources/images/loading.gif"/></div>
                                  </li>
                                  <li>
                                      <div class="lightpoint"><input name="" type="checkbox"><label></label></div>
                                      list 02
                                      <div class="status s-working"><img src="resources/images/loading.gif"/></div>
                                  </li>
                            </ul>
                        
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                    <div class="main-button-area">
                        <input class="primary-button test" type="button" value="Test"/>
                    </div>
             </div>