<div class="content-box" id="test-content">
    <span class="tdName">Portal Selection</span>
    <div class="war-input">
        <select id="portal" class="testType">
            <option value="">Please select ...</option>
            <option value="STBHTML">STB-HTML</option>
            <option value="STBSVG">STB-SVG</option>
            <option value="PC">PC</option>
            <option value="iPad">iPad</option>
            <option value="iPhone">iPhone</option>
        </select>
    </div>
    <span class="tdName">Test Suite List</span>
    <div class="test-feature-content">
        <div class="us-list">
            <ul class="group" ng-repeat="testsuite in testsuites">
                <label class="category">
                    <div class="lightpoint">
                        <input type="checkbox" class="parentB" value="{{testsuite.suiteId}}" ng-checked="true" /><label></label>
                    </div>
                    <span>{{testsuite.suiteId}}</span>
                </label>
                <li ng-repeat="testcase in testsuite.cases">
                    <div class="lightpoint">
                        <input type="checkbox" class="childB" ng-checked="testcase.skipped" value="{{testcase.testCaseName}}" /><label></label>
                    </div>
                    <span>{{testcase.testCaseName}}</span>
                    <div class="status">
                        <img src="resources/images/loading.gif" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main-button-area">
        <input class="primary-button test" type="button" value="Test"/>
    </div>
</div>
