@charset "utf-8";
/* CSS Document */
/*================================== CONFIG =====================================*/
body{ margin:0px; padding:0px; font-size:12px; font-family:Arial;}
.clear{clear:both;}
.align-left{ float:left;}
.align-right{ float:right;}
ol, ul, li {list-style: none; margin:0px; padding:0px;}
a{ color: #005dc4; text-decoration:none; border: 0;}
a:hover{ text-decoration:none;}
img{ border:none;}




/*================================== WRAPPER ==================================*/
.mainWrapper{
    width:250px;
    height:500px;
    background:#333;
    
    }
    
    
    
/*=================================== HEADER ===================================*/
.header{
    height:50px;
    }

.toolsName{
    padding:5px 15px;
    color:#CCC;
    font-size:14px;
    font-weight:bolder;
    }
    
/*=======================================  MAIN =======================================*/
.maincontent{
    padding:0px 5px;
    }
.tab-header ul{
    margin:0px;
    padding:0px;
    }
    
.tab-header ul li{
    float:left;
    }
.tab-header ul li a{
    display:block;
    padding:5px 15px;
    color:#ccc;
    }
    
.tab-header ul li a.active{
    background:#999;
    color:#FFF;
    }
    
.content-wrapper{
    padding:8px 3px;
    background:#999;
    }
/*============================================== BULID ==============================================*/
#bulid-content{ display:none;

    }
    
.bulid-feature-header li {
    float:left;
    width:117px;
    line-height:24px;
    text-align:center;
    border-bottom:solid 1px #666;
    }
.bulid-feature-header li a{
    color:#ccc;
    background:#999;
    }   
    
.bulid-feature-header li.active{
    background:#CCC;
    color:#333;
    }

    


.bulid-feature-content-folder{
    float:left;
    background:#fff;
    width:234px;
    height:250px;
    overflow:auto;
    }
    
.group span{
    padding-left:10px;
    font-size:12px;
    line-height:24px;
    }
    
.checkbox {
    height:20px;
    line-height:20px;
    vertical-align: middle;
}
.group{
    font-weight:bolder;
    }

.group li{
    padding:3px 0px 3px 20px;
    background:#333;
    font-size:12px;
    color:#CCC;
    border-top: solid 1px #999;
    }
    
input[type="checkbox"]{
    float:left;

    }
.bulid-button-area{
    float:left;
    width:234px;
    background:#666;
    height:30px;
    }
.bulid-button-area li{
    float:left;
    margin:5px 0px;
    width:50%;
    text-align:center;
    }

    
.check-deploy{
    float:left;
    margin:13px 0px 0px 10px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    }
/*====================================== SETTINGS ===============================*/
#setting-content{
    }
.tdName{
    height:20px;
    line-height:20px;
    font-weight:bolder;
    }   
.table-wrapper{
    height:304px;
    }
.setting-table{
    width:234px;
    }
    
.setting-table thead tr{
    background-color:#333;
    }
.setting-table thead tr th{
    padding: 5px 0px 0px 10px;
    height:20px;
    line-height:20px;
    color:#fff;
    }
.setting-table thead tr th:first-child{
    width:40px;
    text-align:left;
    }
    
.setting-table tr{
    background:#ccc;

    }
.setting-table tr td{
    padding: 3px 0px 3px 10px;
    height:32px;
    line-height:32px;
    border-bottom: solid 1px #333;
    color:#333;
    text-align: left;
    }
    
.setting-table tr td:first-child{
    }
    
.setting-table tfoot tr td{
    padding:3px;
    height:26px;
    line-height:26px;
    background:#333;
    }
/*============================================ BUTTON =================================================*/



.small-button{
    width:110px;
    height:20px;
    font-size:11px;
    }
.config{

    }
.reset{

    }
    
.primary-button{
    height:30px;
    }   
.bulid{
    float:left;
    margin-top:10px;
    width:150px;
    }
.save{
    display:block;
    margin:0 auto;
    width:200px;
    }
input[type="text"]{
    padding: 2px 6px;
    width:150px;
    border: 1px solid #999;
    border-radius: 4px 4px 4px 4px;
    height:18px;
    line-height:18px;
    font-size:11px;
    vertical-align: middle;
    }