@charset "utf-8";
/* CSS Document */
/*================================== CONFIG =====================================*/
body{ margin:0px; padding:0px; font-size:12px; font-family:Arial;}
.clear{clear:both;}
.align-left{ float:left;}
.align-right{ float:right;}
ol, ul, li {list-style: none; margin:0px; padding:0px;}
a{ color: #005dc4; text-decoration:none; border: 0;}
a:hover{ text-decoration:none;}
img{ border:none;}




/*================================== WRAPPER ==================================*/
.mainWrapper{
    width:250px;
    height:500px;
    background:#333;
    
    }
    
    
    
/*=================================== HEADER ===================================*/
.header{
    height:50px;
    }

.toolsName{
    padding:5px;
    color:#CCC;
    font-size:14px;
    font-weight:bolder;
    }
    
/*=======================================  MAIN =======================================*/
.maincontent{
    padding:0px 5px;
    }
.tab-header ul{
    margin:0px;
    padding:0px;
    }
    
.tab-header ul li{
    float:left;
    }
.tab-header ul li a{
    display:block;
    padding:5px 15px;
    color:#ccc;
    }
    
.tab-header ul li a.active{
    background:#999;
    color:#FFF;
    }
    
.content-wrapper{
    padding:8px 3px;
    height:345px;
    background:#999;
    }
    
.config-button-area{
    float:left;
    width:234px;
    background:#666;
    height:30px;
    }
    
.config-button-area li{
    float:left;
    margin:5px 0px;
    width:50%;
    text-align:center;
    }
        
.main-button-area{
    margin-top:5px;
    }   
    

.foot{
    margin:8px 5px;
    height:45px;
    overflow:hidden;
    }
/*============================================== BULID ==============================================*/
#bulid-content{
    display:none; 
    }
    
.bulid-feature-header li {
    float:left;
    width:117px;
    line-height:24px;
    text-align:center;
    border-bottom:solid 1px #666;
    }
.bulid-feature-header li a{
    color:#ccc;
    background:#999;
    }   
    
.bulid-feature-header li.active{
    background:#CCC;
    color:#333;
    }

    


.bulid-list{
    margin-top:5px;
    background:#fff;
    width:234px;
    height:255px;
    overflow:auto;
    }
    
.group span{
    font-size:12px;
    }
    
.checkbox {
    height:20px;
    line-height:20px;
    vertical-align: middle;
}
.group{
    font-weight:bolder;
    }

.group li{
    padding:3px 0px 3px 20px;
    height:20px;
    line-height:20px;
    background:#333;
    font-size:12px;
    color:#CCC;
    border-top: solid 1px #999;
    }
    


    
.check-deploy{
    float:left;
    margin:5px 0px 0px 10px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    }
/*======================================== Deploy =======================================   */

#deploy-content{display:none;}
.war-input{
    margin:0 auto;
    padding:5px 2px;
    }
    
    
.war-list-wrapper{
    float:left;
    background:#fff;
    width:234px;
    height:240px;
    overflow:auto;
    }
    
.war-list-wrapper li{
    padding:3px 0px 3px 5px;
    height:20px;
    line-height:20px;
    background:#333;
    font-size:12px;
    font-weight:bolder;
    color:#CCC;
    border-top: solid 1px #999;
    }
/*====================================== TEST ===============================*/

.us-list{
    margin-top:5px;
    background:#fff;
    width:234px;
    height:255px;
    overflow:auto;
    }

    

/*====================================== SETTINGS ===============================*/
#setting-content{
    display:none;
    }
.tdName{
    display:block;
    height:20px;
    line-height:20px;
    font-weight:bolder;
    }   
.table-wrapper{
    margin-top:5px;
    height:285px;
    }
.setting-table{
    width:234px;
    }
    
.setting-table thead tr{
    background-color:#333;
    }
.setting-table thead tr th{
    padding: 5px 0px 0px 10px;
    height:20px;
    line-height:20px;
    font-size:12px;
    color:#fff;
    }
.setting-table thead tr th:first-child{
    width:40px;
    text-align:left;
    }
    
.setting-table tr{
    background:#ccc;

    }
.setting-table tr td{
    padding: 3px 0px 3px 10px;
    height:32px;
    line-height:32px;
    border-bottom: solid 1px #333;
    font-size:12px;
    color:#333;
    text-align: left;
    }
    
.setting-table tr td:first-child{
    cursor:pointer;
    }
    
.setting-table tfoot tr td{
    padding:3px;
    height:26px;
    line-height:26px;
    background:#333;
    }
/*============================================ BUTTON =================================================*/

.small-button{
    width:110px;
    height:20px;
    font-size:11px;
    }
.config{

    }
.reset{

    }
    
.primary-button{
    height:30px;
    }   
.bulid{
    float:left;
    width:150px;
    }
.check{
    float:right;
    height:28px;
    }
.save{
    display:block;
    margin:0 auto;
    width:200px;
    }
.test{
    display:block;
    margin:0 auto;
    width:200px;
    }
input[type="checkbox"]{
    float:left;
    margin:4px 5px 0px 5px;
    }
    
input[type="text"]{
    float:left;
    padding: 2px 6px;
    height:24px;
    line-height:24px;
    font-size:11px;
    }
.input-setting{
    width:160px;
    border: 1px solid #999;
    color:#666;
    }
.input-deploy{
    margin-top:2px;
    width:150px;
    border: 1px solid #666;
    }

/*=============================== Notifications =================================*/

.notification {
                position: relative;
                margin: 0 0 3px 0;
                padding: 0;
                border: 1px solid;
                background-position: 8px 1px !important;
                background-repeat: no-repeat !important;
                font-size: 10px;
                width: 238px;
                }
                

.attention {
                background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
                border-color: #e6db55;
                color: #666452;
                }

.information {
                background: #dbe3ff url('../images/icons/information.png');
                border-color: #a2b4ee;
                color: #585b66;
                }

.success {
                background: #d5ffce url('../images/icons/tick_circle.png');
                border-color: #9adf8f;
                color: #556652;
                }

.error {
                background: #ffcece url('../images/icons/cross_circle.png');
                border-color: #df8f8f;
                color: #665252;
                }

.notification span {
                display:block;
                font-style:normal;
                padding: 2px 2px 2px 32px;
                line-height: 15px;
                }

.notification .close {
                width:10px;
                height:10px;
                color:#990000;
                font-size:9px;
                position:absolute;
                right:5px;
                top:7px;
                }


/*================================================== CSS 3.0 =================================================*/

input[type="text"], textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

input[type="text"]:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



