@charset "utf-8";
/* CSS Document */
/*================================== CONFIG =====================================*/
body{ margin:0px; padding:0px; font-size:12px; font-family:Arial; background:#646464; color:#ccc; /*background:url(../images/bg-blackblue.png);*/
/*background:-moz-linear-gradient(top,rgba(185, 185, 185, 0.8),rgba(205, 205, 205, 0.8));*/}
.clear{clear:both;}
.align-left{ float:left;}
.align-right{ float:right;}
ol, ul, li {list-style: none; margin:0px; padding:0px;}
a{ color: #005dc4; text-decoration:none; border: 0;}
a:hover{ text-decoration:none;}
img{ border:none; margin:0; padding:0;}




/*================================== WRAPPER ==================================*/

.left-nav{
    float:left;
    width:60px;
    }

.mainWrapper{
    margin-left:60px;
    padding:0px 5px;
    width:350px;
    height:500px;
    background: url(../images/wangge.png) #595959;
    box-shadow: inset 2px 0 3px #333;
    
    }
    
.help{
    position:absolute;
    font-size:10px;
    left:10px;
    top:460px;
    width:40px;
    overflow:hidden;
}    
.version{
    position:absolute;
    left:10px;
    font-size:10px;
    top:480px;
    width:40px;
    overflow:hidden;
    
}   
    
/*=================================== HEADER ===================================*/
.header{
    height:30px;
    }
.logo{
    float:left;
    margin:8px;
    }
.toolsName{
    margin:0px;
    padding:5px;
    height:60px;
    color:#496266;
    font-size:10px;
    font-weight:bolder;
    border-top:none;
}
    
/*=======================================  MAIN =======================================*/
.maincontent{
    padding-top:5px;
    }
.tab-header{
    width:60px;
    margin-bottom:10px;
    margin-top:30px;
    padding:0;
/*  box-shadow:0px 2px 5px rgba(155, 155, 155, 1);*/

    }   
    
.tab-header ul{
    margin:0px;
    padding:0px;
    }
    
.tab-header ul li{
    height:60px;
    margin-top:1px;
    }
.tab-header ul li a{
    display:block;
    padding:42px 0px 4px 0px;
    text-align:center;
    background:rgba(255,255,255,0.2);

    font-weight:bolder;
    font-size:11px;
    color:rgba(225,225,225,0);
    }
.tab-header ul li a.iconBuild{background:url(../images/icon_bulid.png) #838383 no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconDeploy{background:url(../images/icon_deploy.png) #838383 no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconClean{background:url(../images/icon_clean.png) #838383 no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconTest{background:url(../images/icon_test.png) #838383 no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconSet{background:url(../images/icon_set.png) #838383 no-repeat; background-position:10px 6px;}





    
.tab-header ul li a:hover{
    color:#338db3;
    text-shadow:0px 1px 5px #09F;
    box-shadow:inset 0 -4px 15px #e1e1e1;
    background-color:#f4f4f4;
    -moz-transition:color ease-in 0.3s,
                    background-color ease-in 0.3s,
                    box-shadow ease-in 0.3s,
                    text-shadow ease-in 0.3s;
    }
        
.tab-header ul li:first-child a{
    }
    
.tab-header ul li:last-child a{

    } 
       
.tab-header ul li a.active{
    color:#fff;
    text-shadow: 1px 1px 1px #666;
    background:-moz-linear-gradient(top,rgba(63, 200, 251, 0.5),rgba(0, 168, 255, 0.6));
    box-shadow: inset 0 0 10px rgba(2, 80, 125, 0.6);
    -moz-animation-name:tabHeader;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease-out-in;
    -moz-animation-iteration-count: 1;
    }

.tab-header ul li a.iconBuild.active{background:url(../images/icon_bulid.png) #82d7fe no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconDeploy.active{background:url(../images/icon_deploy.png) #82d7fe no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconClean.active{background:url(../images/icon_clean.png) #82d7fe no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconTest.active{background:url(../images/icon_test.png) #82d7fe no-repeat; background-position:10px 6px;}
.tab-header ul li a.iconSet.active{background:url(../images/icon_set.png) #82d7fe no-repeat; background-position:10px 6px;} 
    
@-moz-keyframes tabHeader{
    0%{-moz-transform:rotateY(-90deg); opacity:0;}
    100%{-moz-transform:rotateY(0deg); opacity:1;}
    }   
    
    
.content-wrapper{
    padding:8px 7px;
    background:#646464;
    border:solid 1px #7f7f7f;

/*  box-shadow:0px 2px 5px rgba(155, 155, 155, 0.5),
               inset 2px 2px 5px rgba(255,255,255,0.6),
               inset -2px -2px 5px rgba(255,255,255,0.6);*/
    }
    
.contentAnimation{
    -moz-animation-name:loadContent;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-out-in;
    -moz-animation-iteration-count: 1;
    }

/*@-moz-keyframes loadContent{
    0%{ opacity:0; -moz-transform:rotateY(-45deg);}
    100%{ opacity:1; -moz-transform:rotateY(0deg);}
    } 
*/
    
.config-button-area{
    float:left;
    width:334px;
    background:-moz-linear-gradient(bottom,rgba(85, 85, 85, 1),rgba(80, 80, 80, 1));
    height:30px;
/*  box-shadow:0 -2px 4px rgba(200,200,200,1);*/
    }
    
.config-button-area li{
    float:left;
    margin:5px 0px;
    width:50%;
    text-align:center;
    }
        
.main-button-area{
    margin-top:5px;
    padding:0px 5px;
    float:left;
    width:324px;
    }   
    

.foot{
    margin:8px 5px;
    height:45px;
    overflow:hidden;
    }
/*============================================== BULID ==============================================*/
#bulid-content{ }
.bulid-feature-header{
    float:left;
    margin-bottom:5px;
    padding:0;
    border:solid 1px #555555;

    }

.bulid-feature-header li {
    padding:0;
    float:left;
    width:166px;
    text-align:center;
    }
.bulid-feature-header li a{
    display:block;
    font-size:10px;
    font-weight:bolder;
    padding:2px 0px;
    color:#ccc;
    }
.bulid-feature-header li:first-child a {
    } 
.bulid-feature-header li:lastt-child a {
    } 
.bulid-feature-header li a.active{
    color:#fff;
    font-weight:bolder;
    background:-moz-linear-gradient(top,rgba(63, 200, 251, 0.5),rgba(0, 168, 255, 0.6));
    box-shadow: inset 0 0 5px rgba(2, 80, 125, 0.5);
    }    

    

.bulid-feature-content{ float:left;}

.list-header{
    height:25px;
    line-height:25px;
    background:-moz-linear-gradient(top,rgba(85, 85, 85, 1),rgba(80, 80, 80, 1));
    border-bottom:solid 2px #82d7fe;
    color:#82d7fe;
    padding:5px 3px 5px 8px;
    font-weight:bolder;
    }
.list-header span{
    display:block;
    float:left;
    }
    
.quickSearch{
    float:right;
    }

.bulid-list{
    float:left;
    width:332px;
    height:320px;
    overflow:auto;
/*  border: solid 1px #e1e1e1;*/
    }
    
.group span{
    font-size:12px;
    }
    
.category {
    display:block;
    padding-left:5px;
    padding-top:2px;
    height:24px;
    line-height:24px;
    color:#ccc;
    vertical-align: middle;
    overflow:hidden;
    white-space:nowrap;
    word-break:break-all;
    text-shadow:1px 1px 0px #000;
/*  box-shadow:inset 0px -1px 3px #9ac5e3,inset 0px 1px 3px #fff;*/
    background:-moz-linear-gradient(top,rgba(80, 80, 80, 1),rgba(75, 75, 75, 1));
}
.group{
    font-weight:bolder;
    }
    
.group li{
    padding:2px 0px 1px 20px;
    position:relative;
    height:20px;
    color:#d6d6d6;
    font-weight:normal;
    line-height:20px;
    overflow:hidden;
    background:#787878;
    border-top: solid 1px #666;
    /*background:-moz-linear-gradient(top,rgba(245, 245, 245, 1),rgba(255, 255, 255, 1));*/
    }
.group li span{
    font-size:11px;
    color:#d6d6d6;
    font-weight:normal;
    display:block;
    width:250px;
    overflow:hidden;
    white-space:nowrap;
    word-break:break-all;
    }    

.status{
    float:right;
    position: absolute;
    top:4px;
    left:295px;
    width:20px;
    height:18px;

    }
@-moz-keyframes statusUp{
    0%{ top:30px;}
    100%{ top:3px;}
    } 
    
@-moz-keyframes statusResult{
    0%{ top:30px;}
    100%{ top:3px;}
    }   
.statusanimation{
    }
.s-success{
    -moz-animation-name:statusResult; /*动画名称*/
    -moz-animation-duration: 1.5s;/*播放一次所持续时间*/
    -moz-animation-timing-function: ease-out-in;/*动画播放频率*/
    -moz-animation-iteration-count: 1;/*动画播放次涒为无限次*/
    background: url(../images/icons/tick_circle.png) no-repeat;
    }
.s-error{
    -moz-animation-name:statusResult; /*动画名称*/
    -moz-animation-duration: 1.5s;/*播放一次所持续时间*/
    -moz-animation-timing-function: ease-out-in;/*动画播放频率*/
    -moz-animation-iteration-count: 1;/*动画播放次涒为无限次*/
    background:url(../images/icons/cross_circle.png) no-repeat;
    }

.status img{
    visibility:hidden;
    } 
.s-working{
    -moz-animation-name:statusUp; /*动画名称*/
    -moz-animation-duration: 1.5s;/*播放一次所持续时间*/
    -moz-animation-timing-function: ease-out-in;/*动画播放频率*/
    -moz-animation-iteration-count: 1;/*动画播放次涒为无限次*/
    } 
.s-working img{
	margin-top:3px;
    visibility:visible;
    }  
    
.bulid-message{
    float:left;
    width:318px;
    height:30px;
    line-height:30px;
    padding:0px 8px;
    border-bottom:solid 1px #fff;
    background:-moz-linear-gradient(bottom,rgba(225, 225, 225, 0.5),rgba(255, 255, 255, 0.5));
    font-size:10px;
    color:#666;
    }
.check-deploy{
    float:left;
    margin:5px 0px 0px 10px;
    height:22px;
    line-height:22px; 
    vertical-align:middle;
    }
/*======================================== Deploy =======================================   */

#deploy-content{ }
.war-input{
    margin:0 auto;
    padding:5px 2px;
    text-align:center;
    }
    
    
.war-list-wrapper{
    float:left;
    width:334px;
    }
    
.war-list-wrapper li{
    position:relative;
    padding:2px 0px 1px 10px;
    height:20px;
    line-height:20px;
    background:#333;
    font-size:12px;
    color:#ccc;
    border-bottom: solid 1px #333;
    background:-moz-linear-gradient(top,rgba(85, 85, 85, 1),rgba(80, 80, 80, 1));
    }
 
.deployList{
    float:left;
    width:334px;
    } 
    
.deployList li{
    position:relative;
    padding-left:30px;
    height:24px;
    line-height:24px;
    border-bottom: solid 1px #666;
    background:#787878;
    } 
.deployList li span{
    display:block;
    width:250px;
    overflow:hidden;
    font-size:11px;
    color:#82d7fe;
    font-weight:bolder;
    white-space:nowrap;
    word-break:break-all;
    }
.deployList li.grayed{
    background:#787878;
/*  background:rgba(250,250,250,0.4);*/
    } 
.deployList li.grayed span{
    color:#d6d6d6;
    font-weight:normal;
    }
    
/*====================================== CLEAN ===============================*/    
#clean-content{}    
.clean-list{
    height:345px;
    overflow:auto;
    } 
/*====================================== TEST ===============================*/
#test-content{}

.search-input{
    margin:0 auto;
    padding:5px 2px;
    text-align:center;
    }
    
.us-list{
    margin-top:5px;
    width:334px;
    height:279px;
    overflow:auto;
    }
.testType{
    margin:0 auto;
    width:245px;
    height:24px;
    padding:2px 5px;
    border: 1px solid #09C;
    background:RGBA(255,255,255,0.6);
    }

.reload{


    }
    
.check-devtool{
    float:left;
    margin:5px 0px 0px 10px;
    height:22px;
    line-height:22px; 
    vertical-align:middle;
    }

.check-remotecontrol{
    float:left;
    margin:5px 0px 0px 10px;
    height:22px;
    line-height:22px; 
    vertical-align:middle;
    }
    
/*====================================== SETTINGS ===============================*/
#setting-content{}
.tdName{
    display:block;
    height:20px;
    line-height:20px;
    font-weight:bolder;
    padding-left:10px;
    color:#ccc;
    font-size:11px;
    } 
 
.table-wrapper{
    margin-top:3px;
    height:358px;
    overflow:auto;
    }
.setting-table{
    width:334px;
    }
    
.setting-table thead tr{
    background:-moz-linear-gradient(top,rgba(63, 200, 251, 0.5),rgba(0, 168, 255, 0.6));
    box-shadow: inset 0 0 5px rgba(2, 80, 125, 0.5);
    }
.setting-table thead tr th{
    padding: 5px 0px 0px 10px;
    height:20px;
    line-height:20px;
    font-size:12px;
    color:#fff;
    }
.setting-table thead tr th:first-child{
    width:40px;
    text-align:left;
    }
    
.setting-table tr{
    background:-moz-linear-gradient(top,rgba(85, 85, 85, 1),rgba(70, 70, 70, 1));

    }
.setting-table tr td{
    padding: 3px 0px 3px 10px;
    height:32px;
    line-height:32px;
    border-bottom: solid 1px #333;
    font-size:12px;
    color:#ccc;
    text-align: left;
    }
    
.setting-table tr td:first-child{
    cursor:pointer;
    }
    
.setting-table tfoot tr td{
    padding:3px;
    height:26px;
    line-height:26px;
    background:#333;
    }
/*============================================ BUTTON =================================================*/

.small-button{
    width:160px;
    height:20px;
    font-size:11px;
    }
.config{

    }
.reset{

    }
    
.primary-button{
    height:30px;
    }   
.run{
    float:left;
    width:150px;
    }

.check{
    float:right;
    height:28px;
    }
.save{
    display:block;
    margin:0 auto;
    width:300px;
    }
.refresh{
    float:left;
    display:block;
    width:155px;
    }
.clean{
    float:right;
    display:block;
    width:155px;
    }
    
.testType{

    margin:0 auto;
    width:245px;
    height:24px;
    padding:2px 5px;
    border: 1px solid #09C;
    background:RGBA(255,255,255,0.6);
    }

.test{
    float:left;
    width:100px;
    }
/*input[type="checkbox"]{
    float:left;
    margin:4px 5px 0px 5px;
    }*/
    
input[type="text"]{
    float:left;
    padding: 2px 6px;
    height:24px;
    line-height:24px;
    font-size:11px;
    color:#999;
    }
.input-setting{
    width:260px;
    border: 1px solid #999;
    color:#666;
    }
.input-deploy{
    margin-top:2px;
    width:255px;
    border: 1px solid #666;
    }
.quickSearch input[type="text"]{
	margin-right:5px;
    height:24px;
    width:165px;
    border: 1px solid #e1e1e1;
    background:140px 3px url(../images/quicksearch.png) no-repeat #fff;
    }
/*=============================== Notifications =================================*/

.notification {
                position: relative;
                margin: 0 0 3px 0;
                padding: 0;
                border: 1px solid;
                background-position: 8px 1px !important;
                background-repeat: no-repeat !important;
                font-size: 10px;
                width: 338px;
                border-radius:3px;
                text-shadow:1px 1px 1px #999;
                }
                

.attention {
                background:url('../images/icons/exclamation.png') 10px 11px no-repeat;
                background-color:rgba(255,251,204,0.5);
                border-color: #fff14c;
                color: #4b4500;
                box-shadow:inset 2px 2px 5px rgba(255,241,76,0.6),
                           inset -2px -2px 5px rgba(255,241,76,0.6);
                }

.information {
                background: url('../images/icons/information.png');
                background-color:rgba(219,227,255,0.5);
                border-color: #84d1fd;
                color: #034690;
                box-shadow:inset 2px 2px 5px rgba(132,209,253,0.6),
                           inset -2px -2px 5px rgba(132,209,253,0.6);
                }

.success {
                background:url('../images/icons/tick_circle.png');
                background-color:rgba(213,255,206,0.5);
                border-color: #8dfe7b;
                color: #0d6100;
                box-shadow:inset 2px 2px 5px rgba(141,254,123,0.6),
                inset -2px -2px 5px rgba(141,254,123,0.6);
                }

.error {
                background:url('../images/icons/cross_circle.png');
                background-color:rgba(255,206,206,0.5);
                border-color: #ff8888;
                color: #7b0000;
                box-shadow:inset 2px 2px 5px rgba(255,136,136,0.6),
                inset -2px -2px 5px rgba(255,136,136,0.6);
                }

.notification span {
                display:block;
                font-style:normal;
                padding: 2px 2px 2px 32px;
                line-height: 15px;
                }

.notification .close {
                width:10px;
                height:10px;
                color:#990000;
                font-size:9px;
                position:absolute;
                right:5px;
                top:7px;
                }


/*================================================== CSS 3.0 =================================================*/

input[type="text"], textarea, .testType {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

input[type="text"]:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

input[type="file"]:focus,
input[type="radio"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.lightpoint{
    float:left;
    margin-top:5px;
    width:20px;
    height:16px;
    position:relative;
    }
.lightpoint input[type="checkbox"] {
    opacity:0;
    width:100px;
    height:16px;
    position:absolute;
    z-index:100;
    /* Then, we put it on top of everything else */
    /* This one is just for ergonomy */
    cursor: pointer;
}

.lightpoint label{
    display:block;
    width:14px;
    height:8px;
    position: relative;
    border:solid 1px #ddd;
    border-radius: 0px;
    background: #eaeaea;
    box-shadow: 

        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 -5px 5px rgba(100,100,100,0.1),
        inset 0 5px 5px rgba(255,255,255,0.3);
    }
    
.lightpoint label:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px; 
    left: 1px;
    top: 1px;
    border-radius: 0px;
    background: #969696;  /*Fallback */
    background: radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
        inset 0 2px 0px 1px rgba(0,0,0,0.3),
        0 1px 0 rgba(255,255,255,1),
        inset 0 1px 0 white;
}

.lightpoint input[type="checkbox"]:checked ~ label { /* Button */
    background: #e5e5e5; /* Fallback */
    background: linear-gradient(#dedede, #fdfdfd);
}
 
.lightpoint input[type="checkbox"]:checked ~ label:before { /* LED */
    background: #25d025; /* Fallback */
    background: radial-gradient(60% 35%, #73f0ff, #02d9f8 60%);
    box-shadow:
        inset 0 3px 5px 1px rgba(0,0,0,0.1),
        0 1px 0 rgba(255,255,255,0.5),
        0 0 2px 1px rgba(2, 217, 248, 0.5);
}

.toolsName{
/*    background:-moz-linear-gradient(top,rgba(255, 255, 255, 0.8),rgba(235, 235, 235, 0.8));*/
    text-shadow:1px 1px 1px rgba(14, 104, 254, 0.5);
/*    box-shadow:0px 1px 10px rgba(151, 224, 252, 1);*/
    }
