<?xml version="1.0"?>
<configuration>
    <startup>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
    <appSettings>
      <add key="ServerAddress" value="127.0.0.1"/>
      <add key="ServerPort" value="58888"/>
      <add key="ServerUrl" value="/"/>
      <add key="ServerFullUrl" value="http://127.0.0.1:58888/PortalKit/"/>
      <add key="WindowWidth" value="266"/>
      <add key="WindowHeight" value="538"/>
      <add key="PortalAddress" value="127.0.0.1" />
      <add key="PortalPort" value="8080" />
      <add key="PortalUrl_STBHTML" value="/portal-root-war/index_mock.html?deviceId=00:01:02:03:04:05&amp;type=plain" />
    </appSettings>
</configuration>
