<div class="content-box" id="deploy-content">
                <span class="tdName">Sources Folder</span>
                <div class="table-wrapper">                 
                    
                    
                    <div class="war-input">
                    <input id="downloadedPath" class="input-deploy"type="text" placeholder="Type something…">
                    <input id="checkDeployPathButton" class="primary-button check" type="button" value="Check"/>
                    <div class="clear"></div>
                    </div>
                    
                    <div class="war-list-wrapper">
                        <li><div class="lightpoint"><input value="referencePortal" type="checkbox"><label></label></div>Reference Portal
                        <div class="status">
                            <img src="resources/images/loading.gif" />
                        </div>
                        </li>
                        <li><div class="lightpoint"><input value="multiscreenPortal" type="checkbox"><label></label></div>Multiscreen Portal
                        <div class="status">
                            <img src="resources/images/loading.gif" />
                        </div>
                        </li>
                        <div class="deployList">
                            <li ng-repeat="file in allGzFiles" ><span title="{{file}}">{{file}}</span></li>
                        </div>
                    </div>
                </div>
                <div class="main-button-area">
                    <input id="deploy4CI" class="primary-button save" type="button" value="Deploy"/>
                </div>
            <div class="clear"></div>
</div>