<div class="content-box" id="test-content">
    <span class="tdName">Portal Selection</span>
    
    
    
    <div class="war-input">
        <select id="portal" class="testType">
            <option value="">Please select ...</option>
            <option value="STBHTML">STB-HTML</option>
            <!-- option value="STBSVG">STB-SVG</option>
            <option value="PC">PC</option>
            <option value="iPad">iPad</option>
            <option value="iPhone">iPhone</option-->
        </select>
        <input id="reloadButton" class="primary-button reload" type="button" value="Reload"/>

    </div>
    
    
    <div class="list-header">
        <span>Test Cases</span>
        <div class="quickSearch"><input id="quickSearch" type="text" placeholder="Quick Search"/></div>
        <div class="clear"></div>
    </div>
    <div class="test-feature-content">
        <div class="us-list">
            <ul class="group" ng-repeat="testsuite in testsuites">
                <li ng-repeat="testcase in testsuite.cases">
                    <div class="lightpoint">
                        <input type="checkbox" class="childB" ng-checked="false" value="{{testcase.testCaseName}}" caseId="{{testcase.caseId}}" /><label></label>
                    </div>
                    <span>{{testcase.testCaseName}}</span>
                    <div class="status">
                        <img src="resources/images/loading.gif" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main-button-area">
        <input class="primary-button test" type="button" value="Start Test"/>
        <div class="check-devtool"><div class="lightpoint"><input id="needDevTool" type="checkbox"><label></label></div>DevTools</div>
        <div class="check-remotecontrol"><div class="lightpoint"><input id="needRemoteControl" type="checkbox"><label></label></div>RemoteControl</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
